./*.json
./*.html
*.dSYM
parser
scratch
tests
test
a.out
*.o
*.html
escape
mbox-test
example
# a file I'm using for testing
ex.c


# autotools
*.la
*.lo
*.m4
*.pyc
.deps/
.libs/
INSTALL
Makefile
Makefile.in
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
configure~
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
test-driver
lib*.so
lib*.so.*
lib*.a
Makefile.in
